root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_fianl_newline = true
guidelines = 120

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# Visual C++ Code Style settings
# none, xml, doxygen_triple_slash, doxygen_slash_star, doxygen_slash_star_exclamation, doxygen_double_slash_exclamation
cpp_generate_documentation_comments = doxygen_slash_star

# Visual C++ Formatting settings

# Visual C++ Inlcude Cleanup settings
